.network {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  margin-left: 0;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/heatmap_bg_test.svg);
  background-size: cover;
  color: #d8d9da;

  & a {
    color: #d8d9da !important;
  }

  & .btn-submit {
    @include buttonBackground(#a0f032, #a0f032);
    border-radius: 20px;
    width: 100%;
    margin: 10px;
  }

  & .btn-submit-disabled {
    @include buttonBackground(#c1c1c1, #c1c1c1, $btn-inverse-text-color, $btn-inverse-text-shadow);
    border-radius: 20px;
    width: 100%;
    margin: 10px;
  }
}

.label-wifi {
  margin-left: 48%;
}

.wifi-search-box {
  min-width: 160px;
  width: 300px;
}

.network-form-input-adira {
  width: 180%;
}

.network-form {
  margin-bottom: $space-md;
  width: 100%;
  align-items: center;
  height: 70px;
  color: #000;
}

.network-label {
  margin: 10px;
}

.network-form-wifi {
  /* margin-bottom: $space-md; */
  width: 100%;
  align-items: center;
  height: 90px;
  color: #000;
}

.network-wifi-main > div {
  /* float:right; */
  margin: 10px;
}
.d1 {
  width: 30%;
  /* height:200px; */
  float: left;
  /* border:1px solid red; */
}
.d2 {
  width: 50%;
  float: right;
  /* height:200px; */
  /* border:1px solid blue; */
}

.network-successmessage-group {
  margin: 5px;
}

.network-form-buttons {
  // width: 20%;
  height: 50px;
  align-items: center;
  clear: both;
  position: absolute;

  & .network-buttons {
    float: left;
    width: 45%; //300px
    // height: 40px;//100px
  }

  & .network-wifi {
    // vertical-align: middle;
    width: 45%;
    float: right;
  }
}
.network-form-buttons-cloud {
  // width: 20%;
  // height: 50px;
  align-items: center;
  clear: both;
  position: absolute;
}

.network-form-buttons > div {
  float: right;
  margin: 10px;
}

.network-alignment {
  width: 45%;
}

.network-label {
  height: 15px;
}

.network-form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: $space-md;
}

.network-form-input {
  // border: 1px solid $login-border;
  // border-radius: 4px;
  height: 30px;
  width: 300px;
  // opacity: 0.6;
  color: #000;

  &:focus {
    border: 1px solid $login-border;
  }
}
